<section id="profile-content">
    <div id="basic-info" class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{singleUser.first_name + singleUser.last_name}}</h4>
            </div>
        </div>
        <!--Should contain pic, name, location, title, company -->
    </div>
    <div id="experience" class="container">
        <!-- Should contain their experience -->
    </div>
    <div id="education" class="container">
        <!-- Should contain their education -->
    </div>
    <div id="skills" class="container">
        <!-- Should contain their skills-->
    </div>
</section>