:root {
    --primary: #7F64B8;
    --secondary: #270949;
    --tertiary: #6B7ACC;
    --quatrinary: #987FC6;
    --light: #ffffff;
    --dark: #000000;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--secondary) !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-color: var(--light);
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  img {
    box-shadow:
      0.1em 0.1em 1em rgba(0.3, 0.3, 0.3, 0.3);
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: var(--tertiary);
    color: var(--light);
    box-shadow: 0 2px 5px -1px var(--secondary);
  }

  .navbar-item {
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--quatrinary);
    color: var(--secondary);
    position: relative;
  }

  .navbar-item:hover {
    text-decoration: none;
    color: var(--quatrinary);
  }

  .navbar-item::before {
    text-decoration: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--secondary);
    bottom: -1.5;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }

  .navbar-item:hover::before {
    text-decoration: none;
    transform-origin: left;
    transform: scaleX(1);
  }

  .btn {
    background-color: var(--secondary);
    color: var(--light);
  }

  #logout {
    background-color: inherit;
    border: none;
  }
  
  .col {
    background: radial-gradient(ellipse at top, #d5cbe71e, transparent);
    width:  50vw;
    margin: 1vw;
    padding: 0 4vw 4vw;
    border: 3.5px;
    border-style: solid;
    border-image: linear-gradient(to top, #7f64b821, #6b7acc17, 60%, #2709491f) 1 100%;
  }

  .card {
    border: none;
  }

  h3 {
    color: var(--secondary);
  }

  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }
  
  .container img {
    max-width: 100%;
    max-height: 100%;
  }
